.navbar-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.navbar-component__main-content {
  display: flex;
  align-items: center;
}

.navbar-component__clickable {
  cursor: pointer;
}

.navbar-component__clickable:hover > svg > path {
  fill: #2471d6;
}

.navbar-component__clickable:hover > svg > circle {
  stroke: #2471d6;
}

@media (max-width: 600px) {
  .navbar-component {
    flex-direction: column;
    justify-content: center;
  }

  .navbar-component__main-content {
    margin-top: 20px;
    justify-content: center;
  }

  .menu-icon {
    display: none;
  }
}
