.sliderGridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 200px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #c4c4c4;
  margin-right: 100px;
  cursor: pointer;
}

.sliderGridItem__icon {
  display: flex;
  justify-content: center;
}

.sliderGridItem__icon > svg {
  height: 50px;
}

.sliderGridItem__header {
  display: flex;
  justify-content: center;
  font-family: "Alkatra", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  color: #268fb4;
}

.sliderGridItem__description {
  display: flex;
  justify-content: center;
  font-family: "Shanti", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #757575;
  width: 75%;
}

.sliderGridItem__image {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 95%;
}

.selected-slide {
  background-color: #2b29ad66;
  border-radius: 10px;
}

.current-image-slide {
  opacity: 1;
  animation-name: oldSlideAnimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.old-image-slide {
  opacity: 0;
  animation-name: currentSlideAnimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes oldSlideAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes currentSlideAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
