.formpage {
  display: flex;
  padding: 80px 80px 125px;
  position: relative;
}

.formpage > form {
  width: 40%;
  padding: 80px;
}

.formpage__title {
  position: absolute;
  top: 52%;
  left: 17%;
  font-family: "Shanti";
  /* font-family: "Sharp Sans No1 Medium"; */
  font-style: italic;
  font-size: 30px;
  line-height: 39px;

  text-transform: capitalize;

  color: #21436e;

  transform: rotate(-90deg);
}

.formpage__header {
  position: absolute;
  top: 40%;
  left: 16%;
  /* font-family: "Alkatra", cursive; */
  font-family: "Diodrum Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;

  letter-spacing: -2px;

  color: #21436e;

  transform: rotate(-90deg);
}

@media (max-width: 600px) {
  .formpage {
    flex-direction: column;
  }

  .formpage > form {
    display: none;
  }

  .formpage__title {
    position: relative;
    transform: rotate(0deg);
    font-size: 1rem;
  }

  .formpage__header {
    font-size: 2rem;
    position: relative;
    transform: rotate(0deg);
  }
  .formpage > img {
    margin-left: 45px;
    margin-top: 20px;
    max-width: 230px;
    max-height: 300px;
  }
}
