.infopage {
  background-color: #21436e;
  padding: 0px 80px 125px;
  display: flex;
  justify-content: center;
}

.infocontent {
  display: flex;
}

.infocontent__description--content {
  /* font-family: "Shanti", sans-serif; */
  font-family: "Sharp Sans No1 Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  color: #ffffff;
  width: 70%;
}

@media (max-width: 600px) {
  .infocontent {
    flex-direction: column-reverse;
  }
  .infocontent > img {
    margin-left: 45px;
    margin-top: 20px;
    max-width: 230px;
    max-height: 300px;
  }

  .infocontent__description--content {
    font-size: 13px;
    width: 100%;
  }

  .infocontent__description--actions {
    width: 100%;
  }
}
